## EDA AND FEATURE ENGINEERING USING SCIKIT-LEARN

In [4]:
import pandas as pd
from sklearn.preprocessing import StandardScaler , LabelEncoder
from sklearn.model_selection import train_test_split
import pickle

In [5]:
#laoding the data set 

df = pd.read_csv('Churn_Modelling.csv')

In [6]:
df.sample(10)

      RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
729         730    15612525   Preston  ...               0       131372.38      1
7681       7682    15633608     Black  ...               1        55796.83      1
7209       7210    15788131    Atkins  ...               0        50695.93      1
4663       4664    15578783       Mai  ...               1        17242.79      0
9869       9870    15782231  Andrejew  ...               0        51454.06      0
8509       8510    15750728      Kaur  ...               0       102889.34      0
1657       1658    15752342   Bradley  ...               0       145071.33      1
5591       5592    15607509   Ozerova  ...               0        47388.41      0
569         570    15706647    Jordan  ...               1       166698.18      0
7968       7969    15712068       Wan  ...               1        67214.02      0

[10 rows x 14 columns]

In [7]:
#Preprocess the data - Drop the irrelvant features
df.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [8]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [9]:
## Encode the one categorical variable 

lable_encoder_gender = LabelEncoder()
df['Gender'] = lable_encoder_gender.fit_transform(df['Gender'])

In [10]:
df.sample(5)

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
4653          489    France       0  ...               1        174098.28       1
5546          786    France       1  ...               0        133112.41       0
8377          802     Spain       1  ...               1         81908.09       0
9575          483    France       0  ...               0        136356.97       0
8129          847     Spain       1  ...               1         76326.67       0

[5 rows x 11 columns]

In [11]:
## One hot encode geography column
from sklearn.preprocessing import OneHotEncoder

In [12]:
ohe_geography = OneHotEncoder(sparse_output=False)

In [13]:
geo_encoded = ohe_geography.fit_transform(df[['Geography']])

In [14]:
ohe_geography.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [15]:
geo_encoded_df = pd.DataFrame(data=geo_encoded,columns=ohe_geography.get_feature_names_out(['Geography']))

In [16]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [17]:
## Combine all the encoded columns with the orignal data 
df = pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [18]:
df

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [19]:
## Save the encoders and scalar
with open('label_encoder_gender.pkl','wb') as file :
    pickle.dump(lable_encoder_gender,file)


with open('one_hot_encoder_geography.pkl','wb') as file :
    pickle.dump(ohe_geography,file)

In [20]:
## Divide the data set into dependent and independent feature
X = df.drop('Exited',axis= 1)
y = df['Exited']

In [21]:
X , y

(      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
 0             619       0  ...                0.0              0.0
 1             608       0  ...                0.0              1.0
 2             502       0  ...                0.0              0.0
 3             699       0  ...                0.0              0.0
 4             850       0  ...                0.0              1.0
 ...           ...     ...  ...                ...              ...
 9995          771       1  ...                0.0              0.0
 9996          516       1  ...                0.0              0.0
 9997          709       0  ...                0.0              0.0
 9998          772       1  ...                1.0              0.0
 9999          792       0  ...                0.0              0.0

 [10000 rows x 12 columns],
 0       1
 1       0
 2       1
 3       0
 4       0
        ..
 9995    0
 9996    0
 9997    1
 9998    1
 9999    0
 Name: Exited, Length: 10000, dtype: int64)

In [22]:

X_train,X_test, y_tain, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [23]:
## Applying the train test split


scalar = StandardScaler()
X_train = scalar.fit_transform(X_train)
X_test = scalar.transform(X_test)

In [24]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [25]:

with open('scalar.pkl','wb') as file :
    pickle.dump(scalar,file)

In [31]:
X_train.shape[1]

12

In [29]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

## ANN Implementation

In [27]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

### Creating the model

In [32]:
model = Sequential([


Dense(64,activation='relu',input_shape = (X_train.shape[1],)), ## Hiddden Layer One - Connected with input layer
Dense(32,activation='relu'), ## Hidden Layer one
Dense(1,activation='sigmoid'),
]   
)

In [33]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [35]:
opt = tf.keras.optimizers.Adam(learning_rate=0.01)
loss = tf.keras.losses.BinaryCrossentropy()

In [36]:
## Complile the mdoel
model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [49]:
## Set up the tensorboard
log_dir = 'log/fit'
print(f"Your log_dir is: {log_dir}")
tensorflow_callback = TensorBoard(
    log_dir=log_dir,
    histogram_freq = 1
)

Your log_dir is: log/fit

In [41]:
## Set the early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

#### Training the  model

In [52]:
history = model.fit(X_train,y_tain,
                    validation_data = (X_test,y_test),
                    epochs=100,
                    callbacks=[tensorflow_callback,early_stopping_callback]
                    )

Epoch 1/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3289 - accuracy: 0.8669 - val_loss: 0.3466 - val_accuracy: 0.8610
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3279 - accuracy: 0.8634 - val_loss: 0.3381 - val_accuracy: 0.8570
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3227 - accuracy: 0.8687 - val_loss: 0.3589 - val_accuracy: 0.8630
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3238 - accuracy: 0.8679 - val_loss: 0.3604 - val_accuracy: 0.8575
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3202 - accuracy: 0.8674 - val_loss: 0.3610 - val_accuracy: 0.8560
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3202 - accuracy: 0.8661 - val_loss: 0.3621 - val_accuracy: 0.8565
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3197 - accuracy: 0.8692 - val_loss: 0.3533 - val_accuracy: 0.8545
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3142 - accuracy: 0.8715 - val_loss: 0.3458 - val_accuracy: 0.8690
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3148 - accuracy: 0.8696 - val_loss: 0.3515 - val_accuracy: 0.8605
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3094 - accuracy: 0.8696 - val_loss: 0.3789 - val_accuracy: 0.8510
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3105 - accuracy: 0.8690 - val_loss: 0.3542 - val_accuracy: 0.8595
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3101 - accuracy: 0.8700 - val_loss: 0.3481 - val_accuracy: 0.8600

In [53]:
model.save('model.h5')

/home/viraj-dev/anaconda3/envs/DL-WITH-ANN/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [54]:
## Load the tensorboard extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [55]:
%tensorboard --logdir log/fit

Reusing TensorBoard on port 6006 (pid 7068), started 0:01:45 ago. (Use '!kill 7068' to kill it.)

In [ ]:
## Load the pickle file